h1 {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

mat-card {
  margin-top: 20px;

  mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
}
